@font-face {
  font-family: futura-light;
  src: url("/fonts/SFUFuturaLight.TTF") format("truetype");
}
@font-face {
  font-family: futura-regular;
  src: url("/fonts/SFUFuturaRegular.TTF") format("truetype");
}
@font-face {
  font-family: futura-bold;
  src: url("/fonts/SFUFuturaBold.TTF") format("truetype");
}
:root {
  --yellow-active: #7d5243;
  --gray-text: #585656;
  --black-text: #000000;
  --blue-hover: #4662c2;
  --title-size: 28px;
  --content-text: 18px;
  --normal-text: 16px;
  --small-text: 12px;
  --font-light: futura-light;
  --font-regular: futura-regular;
  --font-bold: futura-bold;
}
* {
  box-sizing: border-box;
}
html {
  font-family: futura-regular;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--black-text);
}
a:hover {
  color: var(--blue-hover);
}

.container {
  width: 100%;
  margin: auto;
  flex-direction: column;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

input,
button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
